.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-wrapper {
  overflow: scroll;
}

.table {
  min-width: 800px;
}

.table i {
  margin: 5px;
}

.table-row {
  padding: 0;
}

.table td {
  padding: .5rem !important;
}

