.title {
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-input {
  max-width: 340px;
}

.table-wrapper {
  overflow: scroll;
}

.table-head {
  background-color: rgb(200, 200, 200);
}

.table {
  min-width: 800px;
}

.table i {
  margin: 5px;
}

.table-row {
  padding: 0;
}

.table td {
  padding: .5rem !important;
}

